@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap");

.menuContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  div {
    width: 200px;

    img {
      width: 100%;
    }
  }

  .menuItem1 {
    transition: all 1s;

    &:hover {
      transform: translateY(20px);
    }
  }

  .menuItem2 {
    transition: all 2s;

    &:hover {
      transform: translateY(20px);
    }
  }

  .menuItem3 {
    transition: all 1s;

    &:hover {
      transform: translateY(20px);
    }
  }

  .menuItem4 {
    transition: all 1s;

    &:hover {
      transform: rotateY(360deg);
    }
  }
}

.heading {
  font-size: 3.2rem;
  font-family: "Spectral SC";
  text-align: center;
  margin: 1rem auto;
  border-bottom: 3px solid blanchedalmond;
  width: 400px;
}

.contactContainer {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  img {
    width: 300px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    margin: 4rem;

    .formGroup {
      padding: 0.5rem;

      label {
        margin: 0 1rem;
      }

      input {
        padding: 1rem 0;
        width: 100%;
        outline: none;
      }

      input:focus {
        outline: none;
        border-color: blanchedalmond;
      }

      textarea {
        width: 100%;
        height: 300px;
        font-size: 1.5rem;
      }

      textarea:focus {
        outline: none;
        border-color: blanchedalmond;
      }
    }
  }

  .formSubmit {
    padding: 1rem;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 1rem;
    border: 1px solid rgb(71, 54, 23);
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: rgb(71, 54, 23);
      color: blanchedalmond;
      border: 1px solid blanchedalmond;
      cursor: pointer;
    }
  }

  .contactDetails {
    display: grid;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;

    h4 {
      font-size: 2rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1.2rem;

      i {
        color: rgb(71, 54, 23);
        transition: all 1s ease-in-out;

        &:hover {
          background-color: rgb(71, 54, 23);
          color: blanchedalmond;
          border-radius: 50%;
          padding: 1rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
    width: 100%;
  }

  .contactContainer {
    .tree {
      width: 50%;
    }
  }

  .contactForm {
    flex-direction: column;
    width: 100%;
    margin: 0 auto !important;

    .formGroup {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      input {
        padding: 0;
        width: 90% !important;
      }
    }

    .message {
      width: 100%;
    }

    .formSubmit {
      width: 50%;
      margin: 0 auto;
    }
  }

  .contactContainer {
    width: 100%;
    margin: 0 auto;
  }

  .contactDetails {
    width: 100%;
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 15px !important;
    }

    p {
      font-size: 18px !important;
    }
  }
}

