@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap");

/* Shared heading style for pages using main.module */
.heading {
  font-family: "Spectral SC", serif;
  font-size: 2.6rem;
  text-align: center;
  margin: 1.2rem auto;
  border-bottom: 3px solid var(--accent);
  width: min(520px, 90%);
  padding-bottom: 0.4rem;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 65%;
  background-image: url("/assets/img/Layer 6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
  margin: 2rem auto;

  .logo {
    width: 37%;
    margin: 0 auto;
  }

  .menuContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .menuItem1 {
      transition: all 1s;
      position: absolute;
      left: 18%;

      &:hover {
        transform: translateY(20px);
      }
    }

    .menuItem2 {
      transition: all 2s;
      position: absolute;
      left: 70%;

      &:hover {
        transform: rotateY(360deg);
      }
    }

    .menuItem3 {
      width: 15%;
      transition: all 1s;
      position: absolute;
      left: 80%;
      top: 250px;

      &:hover {
        transform: translateY(20px);
      }
    }

    .menuItem4 {
      width: 15%;
      top: 300px;
      left: 15%;
      transition: all 1s;
      position: absolute;
      transform: rotate(-10deg);


      &:hover {
        transform: translateY(20px);
      }
    }

    .greyCat {
      position: absolute;
      left: 60%;
      top: 340px;
      transition: all 0.3s;

      &:hover {
        transform: rotate(10deg);
      }
    }
  }
}